extends layout

block content
  .header-title
    .container
      h1= title
      p System Ged
  .main-container
    .row
      .col-md-2
        h3.text-justify menu
          .sidebar-nav
            ul.nav.navbar-nav2
              li
                a.tablinks(href="#", onclick="openSection(event, 'home')" ) Home
              li 
                a.tablinks(href="#", onclick="openSection(event, 'players')" ) Jugadores 
              li 
                a.tablinks(href="#", onclick="openSection(event, 'teams')" ) Equipos 
              li 
                a.tablinks(href="") Fixture
              li
                a(href="#" , onclick="openSection(event, 'user')" ) Users
      .post.col-md-7
        #home.tabcontent
          h1= title
          p Total: #{amount} 
              
                      

        #players.tabcontent
          h1 players
        #teams.tabcontent
          h1 teams  

        #user.tabcontent
          table.table.table-responsive.table-admin
            thead
              tr
                th Nro
                th First Name
                th Last Name
                th Edad
                th Ciudad
                th Email
                th Update
                th Remove
            tbody#body_user.row-admins


      .col-md-3
       .plus-info
          h1 Fecha
        #caja
   
  
    





           


