doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/flatly-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') GESTOR
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse(aria-expanded='false', style='height: 1px;')
          ul.nav.navbar-nav
            li
              a(href='/register/') Registro
            li
              a(href='/team/') Mi Equipo
            li
              a(href='/profile/') Perfil
      
    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Gestos de Clubes 2016

   
    
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')