extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3.section-p
      section.articulo-g.main.row
        form.form-horizontal(action="", method="post", role="form")
          br
          h2.text-center Únete al Gestor de Clubes
          br
          br
          input#name.form-control(type='text' placeholder='Nombres Completos' , name='name', required)
          br
          input#lastname.form-control(type='text', placeholder='Apellidos Completos' , name='lastname', required)
          br
          input#email.form-control(type='email', placeholder='Correo electrónico' , name='email', required)
          br
          input#password.form-control(type='password', placeholder='Contraseña' , name='password', required)
          br
          input#dni.form-control(type='text', placeholder='Número de DNI' , name='dni', required)
          br
          input#phone.form-control(type='tel', placeholder='Telefono' , name='phone', required)
          br
          select#sex.form-control(name='sex', style='padding-left: 6px;')
            option(value='0') Selecciona tu género
            option(value='femenino') Femenino
            option(value='masculino') Masculino
          br
          
          .form-group         

              label.control-label.col-xs-12.col-sm-3.col-md-12(style='text-align: center; padding-bottom: 10px;') Cumpleaños       
              .col-xs-4.col-sm-3.col-md-4
                select#dia.form-control(style='padding-left:3px; padding-right:0px;')
                  option(value='0') Día
                  +generarOption(1,31)
              .col-xs-4.col-sm-3.col-md-4.reducir-m
                select#mes.form-control(style='padding-left:3px; padding-right:0px;')
                  option(value='0') Mes
                  +getMeses()
              .col-xs-4.col-sm-3.col-md-4
                select#anio.form-control(style='padding-left:3px;padding-right:0px;')
                  option(value='0') Año
                  +generarOption(1950,2010)
          br
          button#boton-reg.btn.btn-success.btn-lg.btn-block Regístrate
          hr
          br
          

